

# Fatimah Aloqayli




#  Top movies by popularity based recommendation

In [51]:
import pandas as pd 
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [52]:
mov = pd.read_csv('movies.csv')

In [53]:
mov.head()

,movies_name,category,num_voter,rating,price,year_of_release,month_of_release
0,Pet Sematary (2019),NaN,6,3.3,14.99,2019,4
1,Alita: Battle Angel,Action & adventure,875,4.2,19.99,2019,2
2,The Intruder (Subbed),NaN,9,3.9,38.99,2019,5
3,Breakthrough,Drama,145,3.8,55.99,2019,4
4,The Aftermath,Drama,48,3.5,55.99,2019,3

In [54]:
#change the data type for the columns
mov.dtypes

movies_name          object
category             object
num_voter            object
rating              float64
price                object
year_of_release       int64
month_of_release      int64
dtype: object

In [55]:
mov['price'] = mov['price'].astype(float)

print(mov.dtypes)

movies_name          object
category             object
num_voter            object
rating              float64
price               float64
year_of_release       int64
month_of_release      int64
dtype: object

In [56]:


mov['num_voter']= mov['num_voter'].str.replace(',',"")
mov['num_voter'] = mov['num_voter'].apply(pd.to_numeric)

print(mov.dtypes)

movies_name          object
category             object
num_voter             int64
rating              float64
price               float64
year_of_release       int64
month_of_release      int64
dtype: object

In [57]:
#Calculate the number of votes garnered by the 80th percentile movie
m = mov['num_voter'].quantile(.6)
m

2.3999999999999915

In [58]:
#mov.num_voter.value_counts()
mov.category.value_counts()

Drama                 77
Action & adventure    40
Comedy                36
Horror                18
Animation              7
Documentary            7
Family                 6
Name: category, dtype: int64

In [59]:
mov.price.max()

58.99

In [60]:
mov.price.min()

14.99

In [61]:
#Only consider movies longer than 45 minutes and shorter than 300 minutes
q_movies = mov[(mov['price'] >= 14.99) & (mov['price'] <= 58.99)]

#Only consider movies that have garnered more than m votes
q_movies = q_movies[q_movies['num_voter'] >= m]

#Inspect the number of movies that made the cut
q_movies.shape

(80, 7)

In [62]:
# Calculate C
C = mov['rating'].mean()
C

2.4

In [63]:
# Function to compute the IMDB weighted rating for each movie
def weighted_rating(x, m=m, C=C):
    v = x['num_voter']
    R = x['rating']
    # Compute the weighted score
    return (v/(v+m) * R) + (m/(m+v) * C)

In [64]:
# Compute the score using the weighted_rating function defined above
q_movies['score'] = q_movies.apply(weighted_rating, axis=1)

In [65]:
#Sort movies in descending order of their scores
q_movies = q_movies.sort_values('score', ascending=False)

#Print the top 25 movies
q_movies[['movies_name', 'num_voter', 'rating', 'score', 'price']].head(25)

,movies_name,num_voter,rating,score,price
25,The Hate U Give,184,4.5,4.472961,19.99
22,Deadpool 2,6634,4.4,4.399277,55.99
105,DRAGON BALL SUPER: BROLY,123,4.3,4.263636,14.99
155,Bumblebee,1389,4.2,4.196895,14.99
1,Alita: Battle Angel,875,4.2,4.195076,19.99
28,Once Upon a Deadpool,395,4.2,4.189129,58.99
37,THE PRODIGY,29,4.3,4.154777,36.99
60,PONY WITH A BROKEN WING,17,4.4,4.152577,36.99
54,122,6,4.8,4.114286,36.99
24,The Predator,1764,4.1,4.097690,55.99
6,AFTER,39,4.2,4.095652,36.99
89,THE WITCH IN THE WINDOW,12,4.4,4.066667,14.99
133,ZOO,11,4.4,4.041791,14.99
31,RATSASAN,4,5.0,4.025000,14.99
93,PAWPARAZZI,4,5.0,4.025000,14.99
103,THE PROFESSOR AND THE MADMAN,4,5.0,4.025000,14.99
113,COLETTE,4,5.0,4.025000,14.99
7,Tolkien,19,4.2,3.998131,19.99
119,SUMMER OF 84,17,4.2,3.977320,14.99
29,TAMIZH PADAM 2,4,4.8,3.900000,14.99
75,A DARK PLACE,6,4.5,3.900000,14.99
52,Uncle Naji in UAE,15,4.1,3.865517,36.99
87,JUNGLE MASTER 2 : CANDY PLANET,3,5.0,3.844444,14.99
46,"Extremely Wicked, Shockingly Evil, and Vile",3,5.0,3.844444,36.99
178,هوارد لافكرافت والمملكة جنون,3,5.0,3.844444,14.99

In [66]:
def build_chart(mov, percentile=.6):
    #Ask for preferred genres
    print("Input preferred category")
    category = input()
    
    #Ask for lower limit of price
    print("Input lower price")
    low_price = int(input())
    
    #Ask for upper limit of price
    print("Input higher price")
    high_price = int(input())
    
    #Ask for lower limit of timeline
    print("Input earliest year")
    low_year = int(input())
    
    #Ask for upper limit of timeline
    print("Input latest year")
    high_year = int(input())
    
    #Define a new movies variable to store the preferred movies. Copy the contents of gen_df to movies
    movies = mov.copy()
    
    #Filter based on the condition
    movies = mov[(mov['category'] == category) & 
                    (mov['price'] >= low_price) & 
                    (mov['price'] <= high_price) & 
                    (mov['year_of_release'] >= low_year) & 
                    (mov['year_of_release'] <= high_year)]
    
    #Compute the values of C and m for the filtered movies
    C = mov['rating'].mean()
    m = mov['num_voter'].quantile(percentile)
    
    #Only consider movies that have higher than m votes. Save this in a new dataframe q_movies
    q_movies = movies.copy().loc[mov['num_voter'] >= m]
    
    #Calculate score using the IMDB formula
    q_movies['score'] = q_movies.apply(lambda x: (x['num_voter']/(x['num_voter']+m) * x['rating']) 
                                       + (m/(m+x['num_voter']) * C)
                                       ,axis=1)

    #Sort movies in descending order of their scores
    q_movies = q_movies.sort_values('score', ascending=False)
    
    return q_movies

# Generate the chart for top movies based on features (category,price and year).

In [68]:

build_chart(mov).head()

Input preferred category
Action & adventure
Input lower price
14
Input higher price
60
Input earliest year
2015
Input latest year
2019

,movies_name,category,num_voter,rating,price,year_of_release,month_of_release,score
22,Deadpool 2,Action & adventure,6634,4.4,55.99,2018,5,4.399277
155,Bumblebee,Action & adventure,1389,4.2,14.99,2018,12,4.196895
1,Alita: Battle Angel,Action & adventure,875,4.2,19.99,2019,2,4.195076
28,Once Upon a Deadpool,Action & adventure,395,4.2,58.99,2018,5,4.189129
24,The Predator,Action & adventure,1764,4.1,55.99,2018,9,4.097690